xmlespresso/com.nubean.superior/src/schemas/xlink.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="http://www.w3.org/1999/xlink"
  targetNamespace="http://www.w3.org/1999/xlink"
  attributeFormDefault="unqualified"
>

  <xsd:attribute name="type" type="xsd:string" 
                 use="fixed" value="simple"  />
  <xsd:attribute name="href" type="xsd:anyURI"/>
  <xsd:attribute name="actuate" type="xsd:string"
                 use="fixed" value="onLoad"  />
  <xsd:attribute name="show" type="xsd:string"
                 use="fixed" value="embed"  />

</xsd:schema>

